
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";font-size:14px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}
body{line-height:1.6}
h1,h2,h3,h4,h5,h6{font-size:100%}
a{text-decoration:none;cursor: pointer}
a:hover{text-decoration:underline;outline:none}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
sub,sup{vertical-align:baseline}
button,input[type="button"], input[type="submit"] {line-height:normal !important}
/*img*/
img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}
.img-responsive{max-width: 100%;height: auto}

 
/*HTML5 reset*/
header,footer,section,aside,details,menu,article,section,nav,address,hgroup,figure,figcaption,legend{display:block;margin:0;padding:0}time{display:inline}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
legend{width:100%;margin-bottom:20px;font-size:21px;line-height:40px;border:0;border-bottom:1px solid #e5e5e5}
legend small{font-size:15px;color:#999}
svg:not(:root) {overflow: hidden}
fieldset {border-width:0;padding: 0.35em 0.625em 0.75em;margin: 0 2px;border: 1px solid #c0c0c0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
/*
Name:			style_clearfix
Example:		class="clearfix|cl"
Explain:		Clearfix（简写cl）避免因子元素浮动而导致的父元素高度缺失能问题
*/
.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}

@font-face {
    font-family: 'iconfont';  /* project id 1332385 */
    src: url('//at.alicdn.com/t/font_1332385_99xl088s6m.eot');
    src: url('//at.alicdn.com/t/font_1332385_99xl088s6m.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1332385_99xl088s6m.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1332385_99xl088s6m.woff') format('woff'),
    url('//at.alicdn.com/t/font_1332385_99xl088s6m.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1332385_99xl088s6m.svg#iconfont') format('svg');
  }
  @font-face {
    font-family: 'sanyl';
    src: url('../fonts/DIGIFAW.TTF');
}
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-jiantou_you:before {
    content: "\e635";
  }
  .icon-jiantou_zuo:before {
    content: "\e637";
  }
  .icon-full:before {
    content: "\e61f";
  }
  .icon-map:before {
    content: "\e60b";
  }
  .icon-up:before {
    content: "\eb6e";
  }
  .icon-down:before {
    content: "\eb6d";
  }
  .icon-search:before {
    content: "\e665";
  }
.topBar{
    width: 100%;
    height: 7.3vh;
    background-image: url(../images/topBar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    color: #fff
}
.topBar .topBar-time{
    position: absolute;
    left: 2vw;
    top: 1.5vh;
    font-size: 0.9vw
}
.topBar .topBar-title{
    line-height: 7.3vh;
    text-align: center;
    font-size: 2vw;
    font-weight: normal
}
.platform-wrap{
    position: absolute;
    top: 7.3vh;
    left: 0;
    right: 0;
    bottom: 0;
}
.platform-fluid{
    padding: 0 1vw;
    display: flex;
    padding-top: 2.2vh;
    box-sizing: border-box;
    height: 100%;
}
.platform-left,.platform-right{
    width: 21.6vw;
}
.platform-mid{
    margin: 0 0.8vw;
    width: 53vw
}
.platform-card{
    width: 21.6vw;
    height: 29.1vh;
    background-image: url(../images/boxOne.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0.4vh 0.4vw 0.5vh 0.3vw;
    box-sizing: border-box;
    margin-bottom: 0.9vh;
    position: relative;
}
.card-style{
    background-image: url(../images/boxTwo.png);
}
.platform-mid-card{
    width: 100%;
    background-image: url(../images/midCard.png);
}
.platform-card-header{
    height: 3.7vh;
    line-height: 3.7vh;
    color: #fff;
    position: relative;
}
.platform-card-header h3{
    padding-left: 2.4vw;
    font-size: 0.8vw;
    font-weight: normal;
}
.platform-card-header .full{
    position: absolute;
    right: 0;
    top: 0.2vh;
    right: 0.6vw;
    font-size: 1vw;
    cursor: pointer;
}
.headBar{
    height: 3.3vh;
    line-height: 3.3vh;
    background-color: #233b83;
    margin-top: 0.38vh;
}
.headBar span,.headBar-li span{
    display: inline-block;
    color: #fff
}
.parameter1{
   width: 60%;
   padding-left: 0.8vw
}
.parameter2{
    width: 20%
 }
 .headBar-li{
     width: 100%;
     height: 3.6vh;
     line-height: 3.6vh;
     background-color: #0c1a41;
     margin-top: 0.5vh
 }
 .headBar-li:hover{
     background-color: #1b306f
 }
 .headBar-li span.orange-m{
    color: #d04929
}
.body-style{
    background-color: #071134
}

.view-bar{
    height: 3.2vh;
    margin-bottom: 1.5vh;
    display: flex
}
.leading{
    width: 5.7vw;
    height: 3.3vh;
    line-height: 3.3vh;
    margin-right: 1.7vw;
    font-size: 0;
    cursor: pointer;
}
.leadding-allIcon{
    width: 1.9vw;
    display: inline-block;
    text-align: center;
    color: #93cbfc;
    cursor: pointer;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 0.8vw
}
.leadding-txt{
    width: 3.8vw;
    display: inline-block;
    text-align: center;
    color: #cad332;
    background-image: url(../images/mapWord.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 0.8vw
}
.view-tab{
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between
}
.view-tab-box{
    flex-basis: 14.2vw;
    height: 3.3vh;
    line-height: 3.3vh;
    text-align: center;
    color: #fff;
    background-image: url(../images/tabBox.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.tab-box-style{
    flex-basis: 14.2vw;
    height: 3.3vh;
    line-height: 3.3vh;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url(../images/This-tab.png);
}
.tab-select{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    color: #fff;
    text-align: center;
    text-align-last: center;
}
.tab-select option{
    background-color: #34888a
}
.preview-wrapper{
    height: 54.1vh;
    margin-bottom: 1vh;
    border: 1px solid #0469d1
}
.previewBox{
    position: relative;
    width: 52.9vw;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    display: none
}
.current{
    opacity: 1;
    display: block;
    transition: all 1s
}
.storageList{
    overflow: hidden;
    position: absolute;
    width: 158.7vw
}

.storageList li{
    float: left;
    width: 52.9vw
}
.storage-title{
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    font-size: 0.9vw;
    color: #fff;
    background-color: #092274
}
.storage-lef-ttitle{
    text-align: left;
    padding-left: 1.9vw;
    color: #ebff00;
    font-weight: normal
}
.prev{
    position: absolute;
    left: 1vw;
    top: 0.5vh;
    z-index: 99;
    color: #fff;
    cursor: pointer;
}
.next{
    position: absolute;
    right: 1vw;
    top: 0.5vh;
    z-index: 99;
    color: #fff;
    cursor: pointer;
}
.next:hover,.prev:hover{
    color:#34888a;
}
.storage-body{
    height: 50.1vh;
}

.intelligent-discovery{
    display: flex;
    height: 100%;
}
.cycle{
    flex-basis: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.cycle li{
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #0b2176;
    cursor: pointer;
}
.cycle li.active{
    background-color: #1871ff;
    transition: all 1s
}
.cycle li+li{
    margin-top: 1.7vh
}

.cycle-content{
    flex: 1;
    position: relative;
}
.cycle-item{
    display: flex;
    align-items: center;
    opacity: 0;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
}
.up{
    opacity: 1;  
    transition: all 1s
}
.cycle-item-list{
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.cycle-item-list li{
    text-align: center;
    color: #fff
}
.cycle-item-list li>p{
    font-size: 0.9vw;
    margin-bottom: 0.4vh;
}
.num{
    width: 3vw;
    height: 3.7vh;
    line-height: 3.7vh;
    background-image: url(../images/num.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    font-family: 'sanyl';
    font-size: 1.6vw
}
.main{
    position: absolute;
    left: 0.2vw;
    right: 0.2vw;
    bottom: 0.3vh;
    top: 4vh;
}
.operation-and-maintenance{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.administration{
    width: 33.33%;
    height: 50%;
    text-align: center
}
.administration>p{
    color: #73b0c2;
    font-size: 0.75vw
}
.unit-statistics{
    display: flex;
    height: 100%;
}
.statistics-box{
    width: 50%;
    height: 100%;
    padding-top: 2vh;
    box-sizing: border-box;
}
.statistics-header{
    display: flex;
    justify-content: space-around
}
.statistics-title{
    width: 4.7vw;
    height: 2.5vh;
    line-height: 2.5vh;
    text-align: center;
    color: #fff;
    background-color: #1d2122
}
.statistics-num{
    width: 4.7vw;
    height: 2.5vh;
    line-height: 2.5vh;
    text-align: center;
    color: #1d2122;
    background-color: #1afff4;
    font-size: 0.6vw;
}
.statistics-bl{
    color: rgba(255,255,255,.45);
    text-align: center
}
.stock-title{
    display: flex;
    color: #b20f12;
    margin: 1vh 0;
    align-items: center;
    padding-left: 1vw
}
.stock-num{
    width: 9.5vw;
    height: 3.8vh;
    line-height: 3.8vh;
    color: #fff;
    background-image: url(../images/six.png);
    letter-spacing: 0.3vw;
    padding-left: 0.15vw;
    box-sizing: border-box;
    margin: 0;
}

.storage-inside{
    padding: 0.9vh 1.6vw;
    height: 100%;
    box-sizing: border-box;
    display: flex
}
.storage-inside-left{
    flex-basis: 9vw;
    position: relative;
}

.upup,.downdown{
    display: block;
    height: 2.6vh;
    line-height: 2.6vh;
    text-align: center;
    color: #93c8f4;
    background-color: #2246c0;
    cursor: pointer;
}
.scroll{
    position: relative;
    height: 39.5vh;
    overflow: hidden;
}
.selectList{
    position: absolute;
    left: 0;
    right: 0;
}
.selectList li{
    background-color: #1c2f69;
    color: #fff;
    text-align: center;
    height: 5.5vh;
    line-height: 5.5vh;
    cursor: pointer;
}
.selectList li+li{
    margin-top: 0.2vh
}
.storage-inside-right{
    flex: 1;
}
.search{
    text-align: right
}
.search-input{
    position: relative;
display: inline-block
}
.search i{
    color: #0469d1;
    position: absolute;
    top: -0.2vh;
    font-size: 1.2vw;
    left: 0.5vw;
}
.search input{
    width: 10vw;
    height: 2.9vh;
    line-height: 1.3;
    line-height: 38px\9;
    border-width: 1px;
    border-style: solid;
    border-color: #1f3b6b;
    border-radius: 2px;
    text-indent: 2vw;
    color: #fff;
    font-size: 0.8vw;
    background-color: #102568;
    border-radius: 10px;
    transition:all 1s
}
.search-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2vw;
}
.imgBox{
    width: 11.4vw;
    height: 11vh;
    margin-top: 2.9vh;
}
.imgBox img{
    width: 100%;
    max-width: 100%;
    height: 100%;
}