@font-face{
    font-family: 'idyllic';
    src: url('../fonts/idyllic.ttf') format('ttf');
  }

/*********文本颜色*************/
$defaultColor:#807676;
$whiteColor:#fff;
$redColor:rgb(255, 17, 0);

$default:true;
$exist:null;
.default-color{
    @if not $default{
        color:$whiteColor
    }@else{
        color:$defaultColor
    }
}

.t-color-red{
    color: $redColor;
    font-family: 'idyllic'; 
}