.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #dddddd;
    cursor: pointer;
    position: relative;
    z-index: 99;
}

.circleYellow {
    background-color: #ffff00;
    position: relative;
}

.circleYellow1::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background: url(images/lcx.gif) no-repeat;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.circleYellow2::after {
    content: '';
    position: absolute;
    width: 115px;
    height: 92px;
    background: url(images/2.gif) no-repeat;
    top: 65px;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1;
}

.circleYellow2-1::after {
    content: '';
    position: absolute;
    width: 251px;
    height: 92px;
    background: url(images/2-1-3.gif) no-repeat;
    top: 57px;
    left: 25px;
    transform: translateY(-50%);
    z-index: 1;
}

.spot1-spot2 .lineStep1 {
    width: 100px;
    margin-left: 25px;
    top: 11px;
}