<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../layui/css/layui.css">
    <link rel="stylesheet" href="../../../css/admin.css">
</head>
<style>
    .layui-form-label {
        width: 100px !important;
    }
    
    .layui-card-body {
        padding: 20px;
    }
</style>

<body>
    <div class="layui-fluid">
        <div class="breadcrumb">
            <span class="layui-breadcrumb" lay-separator=">>">
            <a href="">系统服务</a>
            <a><cite>密码</cite></a>
            </span>
        </div>
        <div class="layui-card form-card-modifier">
            <div class="layui-card-body">
                <div class="password-operation-prompt">
                    <ul class="tip-list">
                        <li>
                            <img src="../../../images/error.png" alt="">
                            <span>原密码输入错误</span>
                        </li>
                        <li>
                            <img src="../../../images/error.png" alt="">
                            <span>两次密码输入不一致</span>
                        </li>
                        <li>
                            <img src="../../../images/plaint.png" alt="">
                            <span>新密码安全强度低</span>
                        </li>
                        <li>
                            <img src="../../../images/success.png" alt="">
                            <span>新密码修改成功</span>
                        </li>
                    </ul>
                </div>
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="" class="layui-form-label">账号：</label>
                        <div class="layui-input-inline">
                            <input type="text" value="z01-xey" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="" class="layui-form-label">原密码：</label>
                        <div class="layui-input-inline">
                            <input type="text" placeholder="请输入原密码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="" class="layui-form-label">新密码：</label>
                        <div class="layui-input-inline">
                            <input type="text" placeholder="请输入新密码" class="layui-input">
                        </div>
                        <div class="layui-form-mid mark-mid-auxword">注：限制6-18个字符，请使用字母加数字或符号的组合密码，不能单独使用字母、数字或符号。</div>
                    </div>
                    <div class="layui-form-item">
                        <label for="" class="layui-form-label">确认新密码：</label>
                        <div class="layui-input-inline">
                            <input type="text" placeholder="确认新密码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item bottomBar" style="margin-left: 0">
                        <div class="layui-input-block" style="margin-left: -100px;margin-top: 150px;">
                            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formDemo">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../../../layui/layui.js"></script>
    <script>
        layui.use(['form', 'element'], function() {
            var form = layui.form;
            var element = layui.element
        })
    </script>
</body>

</html>